.liveUpdate{
    position:absolute;
    top:0;
    right:0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 15px;
}

li{
    color: skyblue; /* bullet color */
}

li span{
    color: black; /* text color */
}

.symptomsCard{
    position:absolute;
    right:0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
  
  
